<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1level|%date{ISO8601, UTC}|%logger{36}|%message%n%exception</pattern>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.advancedtelematic.libats.logging.JsonEncoder">
            <includeMdc>false</includeMdc>
        </encoder>
    </appender>

    <appender name="async_json" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="json" />
        <queueSize>512</queueSize>
    </appender>

    <appender name="async_stdout" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stdout" />
        <queueSize>512</queueSize>
    </appender>

    <logger name="com.zaxxer.hikari" level="${HIKARI_LOG_LEVEL:-INHERITED}" />
    <logger name="slick.backend.DatabaseComponent.action" level="${SLICK_LOG_LEVEL:-INHERITED}" />
    <logger name="com.advancedtelematic" level="${ATS_LOG_LEVEL:-INHERITED}" />

    <root level="${ROOT_LOG_LEVEL:-info}">
        <appender-ref ref="${LOG_APPENDER:-stdout}" />
    </root>
</configuration>
